/*font-family:'Gill Sans W01 Light';
font-family:'GillSansW01-LightItalic';
font-family:'Gill Sans W01 Book';
font-family:'GillSansW01-BookItalic';
font-family:'Gill Sans W01 Medium';
font-family:'GillSansW01-MediumItali';
font-family:'Gill Sans W01 Bold';
font-family:'GillSansW01-BoldItalic';
font-family:'Gill Sans W01 Heavy';
font-family:'GillSansW01-HeavyItalic';
font-family:'GillSansW01-ExtraBold';
font-family:'GillSansW01-UltraBold';
font-family:'Gill Sans W01 Shadow';
font-family:'Gill Sans W01 Cond';
font-family:'GillSansW01-CondensedBd';
font-family:'GillSansW01-CondensedUl';
font-family:'GillSansW01-XCondensedB';
font-family:'GillSansW01-LightShadow';
font-family:'Gill Sans Infant W01';
font-family:'GillSansInfantW01-Itali';
font-family:'GillSansInfantW01-Bold';
font-family:'GillSansInfantW01-BoldI';
font-family:'GillSansW01-DisplayBold 709822';
font-family:'GillSansW01-DisplayXtra';
font-family:'GillSansW01-DisplayBold 709825';
font-family:'Gill Sans MT W10 Light';
font-family:'GillSansMTW10-LightIt';
font-family:'Gill Sans W10 Bold';
font-family:'GillSansW10-BoldIt';
font-family:'Gill Sans MT W15 Light';
font-family:'GillSansMTW15-LightIt';
font-family:'Gill Sans W10 Medium';
font-family:'Gill Sans W15 Medium';
font-family:'GillSansW15-MediumIt';
font-family:'GillSansW10-MediumIt';
font-family:'GillSansW15-BoldIt';
font-family:'Gill Sans W15 Bold';*/

*{
    box-sizing: border-box;
    font-family:'Gill Sans W01 Medium';
}
body{
    background-color: cadetblue;
}
h1 button{
    font-size: 1em;
}
.control-group label{
    display: block
}
.control-group input{
    width: 100%;
}
.control-group input[type=number]{
    width: 20%;
}
.control-group input[id*=parameter]{
    width: 12.5%;
    float: left;
}
#oscilliscope{
    width: 100%
}
[class*=span]{
    float:left;
    margin-right:1%;
}
.span-4{
    width: 32.663%;
}
.span-6{
    width: 49.5%;
}
.span-4 + .span-4 + .span-4, .span-6 + .span-6{
    margin-right: 0;
}
legend, fieldset, article > div{
    border: 1px solid steelblue;
    border-radius: 5px;
}
fieldset{
    margin-top: 1em;
    background-color: lightgrey;
}
article{
    flex-grow:  1;
    width: 25%;
    padding: 0.3em;
}
article > div{
    margin-top: 0;
    padding: 0.5em;
    background-color: lightgrey;
    min-height: 33vh;
}
legend {
    background-color: steelblue;
    padding: 0.25em 0.5em;
    color: white;
    font-family: 'GillSansW01-CondensedBd';
}
.flex-root{
    display: flex;
    justify-content: space-around;
}